<%- include('templates/header', {title: "Electriluz"}) %>

<!-- Products -->
<div class="product-gallery">
	<ol>
		<% for(let i=0; i<10; i++){ %>
			<%- include('templates/product') %>
		<% } %>
	</ol>
</div>

<%- include('templates/pagination') %>
