<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">

		<!-- custom css -->
		<link rel="stylesheet" href="css/product.css">
		<link rel="stylesheet" href="css/pagination.css">

		<!-- Función actualizar -->
		<!-- <script type="text/javascript">
			function actualizar(){location.reload(true);}
			//Función para actualizar cada 4 segundos(4000 milisegundos)
			setInterval("actualizar()",5000);
		</script> -->


		<title><%= title %></title>
	</head>
	<body>
