<li class="item-product-list">
	<a href="#">
		<div class="image">
			<img src="img/item.jpg" alt="">
		</div>
		<div class="info">
			<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
			<div class="price">
				$12345.6
				<span class="price-promo">$12345.6</span>
			</div>
			<div class="tags">
				<span class="tag tag-stock">En stock</span>
				<span class="tag tag-free">Envío Gratis</span>
			</div>
			<div class="buttons">
				<button><i class="fa fa-truck"></i> Comprar</button>
				<button><i class="fa fa-shopping-cart"></i> Agregar</button>
			</div>
		</div>
	</a>
</li>
